version: '3.0'

services:

  backend:
    build: .
    depends_on:
      -  postgres
    env_file: 
      - .env

  postgres: 
    image: postgres:14.1
    ports:
      -  5432:5432
    env_file: 
      - .env

  nginx:
    image: nginx
    ports:
      - 8080:8080
    

